@ej:registry=http://flashdev.od.ua:4873/
@common:registry=http://flashdev.od.ua:4873/
@types:registry=https://registry.npmjs.org/
@storybook:registry=https://registry.npmjs.org/
@hypnosphi:registry=https://registry.npmjs.org/
//flashdev.od.ua:4873/:_authToken="B1If/Gu8gevBidkh2pDR5Q=="
always-auth=true
registry=http://flashdev.od.ua:4873/
