@import "vars";

@font-face {
	font-family: Roboto;
	font-weight: $font-thin;
	src: url('../resources/fonts/Roboto/Roboto-Thin.ttf'),
	url('../resources/fonts/Roboto/Roboto-Thin.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-thin;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-ThinItalic.ttf'),
	url('../resources/fonts/Roboto/Roboto-ThinItalic.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-light;
	src: url('../resources/fonts/Roboto/Roboto-Light.ttf'),
	url('../resources/fonts/Roboto/Roboto-Light.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-light;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-LightItalic.ttf'),
	url('../resources/fonts/Roboto/Roboto-LightItalic.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-regular;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-Italic.ttf'),
	url('../resources/fonts/Roboto/Roboto-Italic.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-regular;
	src: url('../resources/fonts/Roboto/Roboto-Regular.ttf'),
	url('../resources/fonts/Roboto/Roboto-Regular.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-medium;
	src: url('../resources/fonts/Roboto/Roboto-Medium.ttf'),
	url('../resources/fonts/Roboto/Roboto-Medium.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-medium;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-MediumItalic.ttf'),
	url('../resources/fonts/Roboto/Roboto-MediumItalic.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-bold;
	src: url('../resources/fonts/Roboto/Roboto-Bold.ttf'),
	url('../resources/fonts/Roboto/Roboto-Bold.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-bold;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-BoldItalic.ttf'),
	url('../resources/fonts/Roboto/Roboto-BoldItalic.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-black;
	src: url('../resources/fonts/Roboto/Roboto-Black.ttf'),
	url('../resources/fonts/Roboto/Roboto-Black.ttf?#iefix') format('truetype');
}

@font-face {
	font-family: Roboto;
	font-weight: $font-black;
	font-style: italic;
	src: url('../resources/fonts/Roboto/Roboto-BlackItalic.ttf?'),
	url('../resources/fonts/Roboto/Roboto-BlackItalic.ttf?#iefix') format('truetype');
}
