@import "vars";

@mixin tnr14 {
	font-family: Times New Roman;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: 1.4pt;
	text-align: center;
	color: $ej-black;
}

@mixin tnr10 {
	font-family: Times New Roman;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	text-align: right;
	color: $ej-black;
}

@mixin tnr9 {
	font-family: Times New Roman;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.79;
	letter-spacing: 0.7pt;
	text-align: center;
	color: $ej-black;
}
