.ej-components__checkbox {
  margin-bottom: 0;
  .checkbox-inline {
    line-height: 20px !important;
    padding-top: 0 !important;
    padding-left: 15px;
    padding-right: 5px;
  }
  input[type="checkbox"] {
    display: none;
  }
  >label {
    font-weight: 300;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    cursor: pointer;
    font-size: 10px;
    >.ej-components__checkbox-icon__checked,
    >.ej-components__checkbox-icon__unchecked {
      margin: -5px 4px 0 0;
      padding: 2px;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      font-size: 10px;
      color: #ffffff;
      width: 16px;
      height: 16px;
    }
    >.ej-components__checkbox-icon__checked {
      background-color: #3696e0 !important;
      border: 1px solid #3696e0;
    }
    >.ej-components__checkbox-icon__unchecked {
      background-color: transparent !important;
      border: 1px solid #999999;
    }
    >.ej-components__checkbox-label {
      font-size: 12px;
    }
    &.disabled {
      background-color: transparent !important;
      .glyphicon {
        color: #f5f8fa;
        background-color: #b4bab9 !important;
        border-color: #b4bab9 !important;
      }
      .ej-components__checkbox-label {
        color: #b4bab9;
      }
    }
  }
}
