@import "vars";
@import "mixin";

.ej-components__expandable-panel {
	.panel {
		border: none;
		border-radius: 0;
		box-shadow: none;
		.panel-heading {
			background-color: transparent;
			background-image: none;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #cdcdcd;
			padding-top: 15px;
			cursor: pointer;
			.ej-components__expandable-panel-header {
				position: relative;
				a {
					text-decoration: none;
					&[aria-expanded=true] {
						.glyphicon {
							color: #3696e0;
						}
					}

				}
				.ej-components__expandable-panel-header-icon {
					position: absolute;
					top: -2px;
					right: -15px;
					font-size: 17px;
				}
			}
		}
		.panel-body {
			border-top: none !important;
		}
	}
}
