@import "vars";

.ej-components__link {
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: $font-light;
	cursor: pointer;
	&:visited {
		color: #3696e0;
	}
	&:hover {
		color: #3696e0;
		text-decoration: underline;
	}
	&.primary {
		font-size: 14px;
		font-weight: $font-medium;
		color: #262626;
	}
}
