
.ej-components__pagination-panel.pagination-ej {
	margin: 10px;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	border: none;
	li {
		font-size: 12px;
		height: 12px;
		line-height: 12px;
		a {
			color: #3696e0;
			font-size: 12px;
			height: 12px;
			line-height: 12px;
			padding: 5px 10px;
			border: none;
			display: inline-block;
			background-color: transparent !important;
		}
		&.active {
			a {
				color: #262626 !important;
			}
		}
	}
}
