@import "vars";

.ej-components__text {
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: $font-light;

	&.grey {
		color: #999999;
	}
	&.bold {
		font-weight: $font-bold;
	}
	&.black {
		color: #262626;
	}
}
