@import "vars";

.ej-components__title {
	font-family: Roboto, Arial, sans-serif;
	line-height: 50px;
	&.ej-components__title_bold {
		font-weight: $font-medium;
	}
	&.ej-components__title_normal {
		font-weight: $font-light;
	}
	&.ej-components__title_grey {
		color: #999999;
	}
	&.ej-components__title_black {
		color: #262626;
	}
	&.ej-components__title_small {
		font-size: 14px;
	}
	&.ej-components__title_large {
		font-size: 20px;
	}
}
